body {
    /* background-color: #e0f2fe; */
    background-color: #bae6fd;
    display: grid;
    justify-items: center;
    padding: 20px;
    font-family:  'Roboto', sans-serif;
}

.container {
    /* background-color: #bae6fd; */
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 70px 50px 500px 70px;
    justify-items: center;
    align-items: center;
    row-gap: 50px;
    width: 700px;
    height: 1000px;
    border-radius: 40px;
}

.header {
    font-size: 50px;
    color: #0c4a6e;
    padding-bottom: 10px;
}

.turn {
    font-weight: 700;
    font-size: 30px;
    color: #0ea5e9;
}

.game-board {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    place-items: center;
    gap: 15px;
    background-color: black;
}

.game-board>button {
    font-family: inherit;
    font-size: 40px;
    display: grid;
    place-items: center;
    background-color: #bae6fd;
    height: 150px;
    width: 150px;
    border-radius: 2px;
    border: none;
}

.game-board>button:hover {
    background-color: #a5e2ff;
    cursor: pointer;
}

.buttons,
.names-buttons {
    padding-top: 50px;
    display: flex;
    gap: 30px;
}

.visible-button {
    background-color: #7dd3fc;
    border: none;
    font-family: inherit;
    font-size: 20px;
    width:250px;
    height: 70px;
    border-radius: 12px;
}

.visible-button:hover {
    background-color: #38bdf8;
    cursor: pointer;
}

 #winning-dialog {
    width: 400px;
    height: 300px;
    /* border:10px solid #082f49; */
    border: none;
    border-radius: 20px;
    color: #0284c7;
    background-color: #e0f2fe;
 }

 #winning-dialog::backdrop,
 #names-dialog::backdrop {
    backdrop-filter: blur(2px);
}

.dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  } 

.winner,
.names-heading {
    font-size: 40px;
}

button.play-again,
button.names {
    width:200px;
}

#names-dialog {
    border: none;
    border-radius: 20px;
    color: #0284c7;
    background-color: #e0f2fe;
    width: 500px;
    height: 400px;
}

form {
    display: grid;
    grid-template-rows: 100px 40px 40px 100px;
    gap: 25px;
    place-items: center;
}

label {
    font-size: 25px;
}

.input-row {
    display: grid;
    grid-template-columns: 120px auto;
    align-items: center;
}

input[type='text'] {
    width: 250px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 18px;
    height: 35px;
    border-radius: 16px;
    padding: 5px 10px;
    background-color: #b4e2ff;
    border: none;
}

input[type='text']:focus {
    outline: none;
    border: solid #0ea5e9 1px;
}